@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-header-background {
    background: linear-gradient(90deg, #8e44ad 0%, #f80759 100%);
  }
  .gradient-nav-hover:hover,
  .gradient-nav-hover:active {
    background: linear-gradient(90deg, #f80759 0%, #8e44ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.1); /* Optional: Slight brightening on hover */
    transition: all 0.3s ease; /* Smooth transition */
    filter: brightness(1.2); /* Slight brightening effect */
    opacity: 0.9; /* Reduce opacity for hover effect */
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .gradient-nav-hover-color:hover {
    color: linear-gradient(90deg, #f80759 0%, #8e44ad 100%);
    stroke: linear-gradient(90deg, #f80759 0%, #8e44ad 100%);
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader-mini {
    width: 20px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader::before,
  .loader-mini::before,
  .loader::after,
  .loader-mini::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
      var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before,
  .loader-mini::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
  }

  @keyframes l12 {
    100% {
      transform: rotate(0.5turn);
    }
  }
}
